.nav-link {
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #3369F3;
  padding-top: 14px;
  font-weight: 500;
  font-size: 11px;
  width: 100%;

  &_type_profile {
    text-align: start;
    padding: 10px 0 10px;
    border-bottom: 1px solid #EAEAEA;

    &:last-of-type {
      padding: 10px 0 0;
      border-bottom: none;
    }
  }

  &_type_danger {
    color: #FF0000;
  }

  &_type_error-page {
    padding-top: 69px;
  }

  &_type_to-profile {
    text-align: end;
    padding: 10px 0 10px;
    color: #999999;
    padding-right: 10px;

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 4px;
      height: 8px;
      background-image: url(../../../static/icons/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}