@import '../../styles/variables.scss';

.input {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #1e1e1e;
  border: none;
  outline: none;
  border-bottom: 1px solid #3369f3;
  padding: 8px 0 7px;

  &_type_error {
    border-bottom-color: red;
  }

  &_type_profile {
    margin: 0;
    border: none;
    height: auto;
    text-align: end;
    color: #999999;

    &:disabled {
      background-color: inherit;
    }
  }

  &_type_message {
    flex: 1;
    border: none;
    padding: 10px 20px;
    background-color: $color-input;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;

    &:focus-visible {
      outline: none;
    }
  }
}
