{
  "extends": [
    "airbnb",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "plugins": [
    "eslint-plugin-html",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    // "@typescript-eslint/ban-ts-ignore": "on",
    "arrow-parens": 0,
    "consistent-return": "off",
    "import/first": 0,
    "import/named": 0,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "import/no-unresolved": 2,
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never"
      }
    ]
  }
}
