@import '../../styles/variables.scss';

.messages-for-date {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    color: $color-secondary;
    font-size: 12px;
    margin: 0;
    padding: 30px 0;
  }

  &__content {
    padding: 0;
  }
}
