$default-img-icon: url(../../../static/icons/default-img-icon.svg);
$add-icon: url(../../../static/icons/add-icon.svg);
$arrow-icon: url(../../../static/icons/arrow-icon.svg);
$arrow-left: url(../../../static/icons/arrow-left.svg);
$arrow-right: url(../../../static/icons/arrow-right.svg);
$attach-icon: url(../../../static/icons/attach-icon.svg);
$close-icon: url(../../../static/icons/close-icon.svg);
$default-img-icon: url(../../../static/icons/default-img-icon.svg);
$file-icon: url(../../../static/icons/file-icon.svg);
$location-icon: url(../../../static/icons/location-icon.svg);
$search-icon: url(../../../static/icons/search-icon.svg);
$menu-icon: url(../../../static/icons/menu-icon.svg);
$checked-icon: url(../../../static/icons/checked.svg);

$white: #fff;
$color-primary: #3369F3;
$color-secondary: #999;
$color-input: #EFEFEF;
$color-border: #EAEAEA;
$color-background: #F8F8F8;
$color-background-hover: #E4EDFD;

@mixin mask-image($image, $x: 0, $y: 0) {
  mask-image: $image;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: $x $y;
}

@mixin background-image($image, $x: 0, $y: 0) {
  background-image: $image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: $x $y;
}

@mixin arrow-button() {
  background-size: 26px 26px;
  border-radius: 50%;
  background-color: $color-primary;
}
