<section class="main-page">
  <div class="main-page__chat-list-container">
    {{#> ChatList }}
    {{#each (chat-list-helper)}}
    {{> ChatItem }}
    {{/each}}
    {{/ ChatList }}
  </div>

  {{!-- <div class="main-page__content{{#if chat}} main-page__content_type_chat{{/if}}"> --}}
    <div class="main-page__content main-page__content_type_chat">
      {{!-- {{#if chat}} --}}
      {{> ChatHeader }}
      {{> ChatContent }}
      {{> ChatFooter }}
      {{!-- {{else }}
      <p class="main-page__empty-text">
        Выберите чат чтобы отправить сообщение
      </p>
      {{/if}} --}}
    </div>
</section>

{{!-- {{#> PopupUserManagement }}{{/ PopupUserManagement }} --}}