.main-page {
  width: 100%;
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100%;
  max-height: 100%;

  &__chat-list-container {
    width: 100%;
    background-color: #FBFBFB;
    overflow-y: scroll;
    border-right: 1px solid #EAEAEA;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    align-items: center;

    &_type_chat {}
  }

  &__empty-text {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
  }
}