@import '../../styles/variables.scss';

.avatar {
  min-width: 47px;
  width: 47px;
  height: 47px;
  background-color: $color-input;
  border-radius: 50%;

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }

  &_type_header {
    min-width: 34px;
    width: 34px;
    height: 34px;
  }
}