<div class="chat-list">
  {{> NavLink text="Профиль" page='profile-page' type='to-profile' icon=true }}

  <input class="chat-list__search-input" type="search" id="search-input" name="search-input" placeholder="Поиск">

  <ul class="chat-list__content">
    {{> @partial-block }}
  </ul>
</div>