<section class="change-password-page">
  <div class="change-password-page__sidebar"></div>

  <div class="change-password-page__content">
    <div class="change-password-page__container">
      {{> ProfileAvatar name=first_name avatar=avatar }}

      {{#>
      ProfileForm
      submit-text=""
      to-page=""
      modifier="profile"
      editMode=true
      }}


      {{>
      InputField
      id="inputOldPassword"
      name="oldPassword"
      label="Старый&nbsp;пароль"
      type="password"
      placeholder="Введите пароль"
      }}

      {{>
      InputField
      id="inputNewPassword"
      name="newPassword"
      label="Новый&nbsp;пароль"
      type="password"
      placeholder="Введите пароль"
      }}

      {{>
      InputField
      id="inputRepeatNewPassword"
      name="repeatNewPassword"
      label="Повторите&nbsp;новый&nbsp;пароль"
      type="password"
      placeholder="Введите пароль"
      }}
      {{/ ProfileForm }}
    </div>
  </div>
</section>